@import url("reset.css");

.cart_top_bg{
    display: flex;
    height: 400px;
    background-image: url("../img/cart_top_bg.png");
    background-size: cover;
    background-position: 0 center;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 80px;
    color: white;
}

.cart_main{
    width: 1200px;
    margin: 50px auto 100px;
}


table {
    table-layout: fixed;
    word-break: break-all;
} 

thead tr .product-name{
    width: 300px;
    height: 50px;
}

thead tr .product-price{
    width: 300px;
}

thead tr .product-quantity{
    width: 300px;
}

thead tr .product-total{
    width: 300px;
}

thead{
    border-bottom: 1px solid #666666;
}

tbody .product-thumbnail{
    vertical-align: middle;
    padding-left: 30px;
}

tbody .product-thumbnail img{
    width: 80px;
}

tbody .product-remove{
    vertical-align: middle;
}

tbody .product-remove a{
    color: black;
    text-decoration: none;
}

tbody .product-name{
    vertical-align: middle;
    text-align: center;
    height: 120px;
}

tbody .product-name a{
    color: black;
    text-decoration: none;
}

tbody .product-price{
    vertical-align: middle;
    text-align: center;
}

tbody .product-quantity{
    vertical-align: middle;
    text-align: center;
}

tbody .product-total{
    vertical-align: middle;
    text-align: center;
}

tbody{
    border-bottom: 1px solid #666666;
}

thead .carttotals_suntotal{
    width: 300px;
}

thead .carttotals_price{
    width: 300px;
}

.carttotals{
    font-size: 32px;
    font-weight: bold;
    margin: 100px auto 30px;
    text-align: center;
}

.bottom_tr{
    border-bottom: 1px solid #666666;
}

.bottom_tr th{
    height: 100px;
    vertical-align: middle;
}

tr .carttotals_suntotal, .carttotals_shipping, .carttotals_total{
    text-align-last: left;
}

tr .carttotals_price{
    width: 900px;
    text-align: left;
}

.bottom_tr .carttotals_price a{
    text-decoration: none;
    color: black;
    display: block;
    margin: 35px auto;
}

.carttotals_price_btn{
    cursor: pointer;
}

.caculate_shipping{
    display: none;
}

.input_content{
    width: 900px;
    margin-bottom: 30px;
    line-height: 50px;
    font-family: 'Nunito', 'Noto Sans TC';
    transition: height .8s ease-in;
}

.input_content_text{
    width: 500px;
    margin-bottom: 30px;
    line-height: 50px;
    font-family: 'Nunito', 'Noto Sans TC';
}

.update_total{
    width: 200px;
}

.bottom_tr .carttotals_price .update_total > a{
    width: 200px;
    height: 60px;
    background-color: #be9c79;
    color: white;
    border: none;
    margin-top: 30px;
    font-size: 14px;
    text-align: center;
    line-height: 60px;
    margin-top: 0;
}

.checkout_wrapper{
    width: 100%;
    overflow: hidden;
}

.checkout_wrapper input{
    width: 200px;
    height: 60px;
    background-color: #be9c79;
    color: white;
    border: none;
    margin-top: 30px;
    font-size: 14px;
    font-family: 'Nunito', 'Noto Sans TC';
    float: right;
}

@media screen and (max-width: 415px) {
    h1{
        font-size: 26px;
    }

    .cart_top_bg{
        height: 20vh;
    }

    .cart_main{
        max-width: 414px;
    }

    .product-thumbnail{
        display: none;
    }

    tbody .product-thumbnail{
        display: none;
    }

    thead tr .product-name{
        width: 90px;
        font-size: 12px;
    }

    thead tr .product-price{
        width: 90px;
        font-size: 12px;
    }

    thead tr .product-quantity{
        width: 90px;
        font-size: 12px;
    }

    thead tr .product-total{
        width: 90px;
        font-size: 12px;
    }

    tbody .product-name{
        font-size: 12px;
    }

    tbody .product-price{
        font-size: 12px;
    }

    tbody .product-quantity{
        font-size: 12px;
    }

    tbody .product-total{
        font-size: 12px;
    }

    .carttotals{
        font-size: 20px;
        min-width: 414px;
    }

    thead .carttotals_suntotal{
        width: 180px;
        font-size: 12px;
    }

    thead .carttotals_price{
        width: 180px;
        font-size: 12px;
    }

    .carttotals_shipping{
        font-size: 12px;
    }

    .carttotals_total{
        font-size: 12px;
    }

    table{
        margin: auto;
    }

    .input_content{
        width: auto;
    }

    .input_content_text{
        width: auto;
    }

    table + input{
        margin: 20px 107px;
        font-size: 12px;
        font-family: 'Noto Sans TC';
    }

    #quantity-input{
        width: 20px;
    }

}