@import url("reset.css");

.contactus_top_bg{
    display: flex;
    height: 400px;
    background-image: url("../img/contactus_top_bg.png");
    background-size: cover;
    background-position: 0 center;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 80px;
    color: white;
}

.contactus_main{
    width: 1200px;
    margin: 150px auto 150px;

}

.contactus_main h2{
    font-size: 30px;
    font-weight: bold;
    margin: 30px 0;
}

.contactus_main p{
    margin: 30px 0;
}

.name_email_wrapper{
    display: flex;
    justify-content: space-between;
}

.name_email_wrapper input{
    width: 580px;
    margin-bottom: 20px;
    line-height: 50px;
}

.subject_message_submit_wrapper{
    display: flex;
    flex-direction: column;
}

.subject_message_submit_wrapper input{
    margin-bottom: 20px;
    line-height: 50px;
}

.subject_message_submit_wrapper .send{
    margin-top: 20px;
    width: 200px;
    height: 60px;
    background-color: #be9c79;
    color: white;
    border: none;
}

