body{
    font-family: 'Nunito', 'Noto Sans TC';
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 1px;
}

.header{
    width: 100%;
    background-color: rgba(0,0,0,0.1);
    height: 110px;
    position: fixed;
    z-index: 3;
}

.header-wrapper{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
}

.logo-a{
    display: block;
    width: 90px;
    margin-left: 50px;
}

.logo{
    width: 100%;
    margin-top: 10px;
}

img{
    display: block;
    width: 100%;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 400px;
}

.nav-ul{
    display: flex;
}

.nav-ul li{
    margin: 0 10px;
}

.nav li a{
    font-size: 20px;
}

.nav-item{
    width: 90px;
    position: relative;
}

.nav-item::after{
    content: "";
    display: block;
    width: 0%;
    height: 1.8px;
    background-color: white;
    position: absolute;
    bottom: -0.05em;
    transition: width .4s ease-in;
}

.nav-item:hover.nav-item::after{
    width: 100%;
}

.nav a{
    display: block;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    color: white;
    text-shadow: 5px 3px 5px #333;
    transition: color .4s ease-in;
    position: relative;
    font-size: 20px;
}

.nav a:hover{
    color: tomato;
}

.nav-item:hover .second_nav{
    display: block;
}

.second_nav{
    display: none;
    position: absolute;
}

.second_nav ul{
    margin: 0;
    display: flex;
    flex-direction: column;
}

.second_nav ul li{
    width: 230px;
    margin: 0 auto;
    background-color: rgba(0,0,0,.8);
}

.second_nav a{
    display: block;
    text-align: left;
    margin: 0 auto;
    font-size: 16px;
    line-height: 4em;
    margin-left: 15px;
}

.top-icon{
    display: flex;
    width: 125px;
    margin-left: 30px;
}

.top-icon li{
    width: 23px;
}

.top-icon li a{
    color: white;
    height: 50px;
    line-height: 50px;
    display: block;
}

.top-icon a:hover{
    color: tomato;
}

.top-icon .fa-solid{
    width: 23.5px;
    height: 21px;
}

.hamBar_wrapper{
    display: none;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
}

.hamBar{
    display: block;
    color: white;
}

.search{
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 110px;
}

.search_inner{
    z-index: 4;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0%;
    width: 100%;
    height: 100%;
}

.search_content{
    z-index: 5;
    position: fixed;
    width: 100%;
    background-color: white;
}

.search_form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    margin: 20px 70px;
    border-bottom: 1px solid #666666;
}

.search_form > input{
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    font-family: 'Nunito', 'Noto Sans TC';
    font-size: 20px;

}

@media screen and (max-width: 415px){

    .header{
        max-width: 414px;
        width: 100%;
        position: fixed;
        z-index: 2;
        height: 65px;
    }

    .header-wrapper{
        max-width: 414px;
        width: 100%;
        margin: 0 auto;
        justify-content: space-between;
    }

    .logo-a{
        width: 50px;
    }

    .logo{
        margin-top: 10px;
    }

    .hamBar_wrapper{
        display: block;
        max-width: 20px;
        align-items: center;
        padding-right: 20px;
        padding-top: 20px;
    } 

    
    .nav{
        /* display: none; */
        display: flex;

        opacity: 0;
        margin: auto;
        position: absolute;
        top: 65px;
        width: 100%;
        background-color: #be9c79;
        pointer-events: none;
        transition: opacity 0.3s ease-in;
    }

    .nav_show{
        opacity: 1;
        transition: opacity 0.5s ease-in;
        pointer-events: auto;
    }

    .nav-ul{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .nav li a{
        font-size: 15px;
    }

    .top-icon{
        margin: auto;
    }

    .second_nav{
        position: static;
        display: none;
        flex-direction: column;
        max-width: 414px;
        width: 414px;
        margin: 0;
    }

    .second_nav ul li{
        width: 100%;
        background-color: #666666;
    }

    .second_nav ul li a{
        width: 200px;
        margin: 0;
        line-height: 50px;
        font-size: 12px;
        padding-left: 13px;
    }

    .nav-item::after{
        display: none;
    }

}