@import url("reset.css");

.home_top_img{
    width: 100%;
    display: block;
} 


.swiper .swiper-button-next::after{
    color: white;
    font-size: 16px;
}

.swiper .swiper-button-prev::after{
    color: white;
    font-size: 16px;
}


.swiper-pagination .swiper-pagination-bullet-active{
    background-color: white;
}

.top-slogan{
    position: absolute;
    top: 350px;
    left: 200px;
    z-index: 1;
}

h1{
    font-size: 96px;
    color: white;
    letter-spacing: 5px;
    line-height: 1;
}

h2{
    text-align: center;
}

span{
    font-weight: bold;
    color: #BE9C79;
}

.home_content{
    display: flex;
    flex-wrap: wrap;
}

.visitourcafe-img{
    background-image: url("../img/home_visitourcoffee.png");
    background-size: cover;
    background-position: center 0;
    background-repeat: no-repeat;
    width: 50%;
    height: 600px;
}

.visitourcafe_content{
    width: 50%;
    text-align: left;
    margin: auto;
}

.visitourcafe_content h2{
    font-size: 32px;
    margin-bottom: 55px;
    font-weight: bold;
}


.visitourcafe_content p{
    margin-bottom: 55px;
    padding: 0 70px;
    line-height: 2.5em;
}

.visitourcafe_content a{
    display: block;
    text-align: center;
    background-color: #be9c79;
    text-decoration: none;
    color: white;
    width: 190px;
    line-height: 50px;
    margin: 0 auto;
    font-size: 14px;
    font-weight: bold;
}

.buythebean_content{
    width: 50%;
}

.buythebean_content{
    width: 50%;
    text-align: left;
    margin: auto;
}

.buythebean_content h2{
    font-size: 32px;
    margin-bottom: 55px;
    font-weight: bold;
}


.buythebean_content p{
    margin-bottom: 55px;
    padding: 0 70px;
    line-height: 2.5em;
}

.buythebean_content a{
    display: block;
    text-align: center;
    background-color: #be9c79;
    text-decoration: none;
    color: white;
    width: 190px;
    line-height: 50px;
    margin: 0 auto;
    font-size: 14px;
    font-weight: bold;
}

.buythebean-img{
    background-image: url("../img/home_buycoffeebean.png");
    background-size: cover;
    background-position: center 0;
    background-repeat: no-repeat;
    width: 50%;
    height: 600px;
}

.learntobrew-img{
    background-image: url("../img/home_howtobrew.png");
    background-size: cover;
    background-position: center 0;
    background-repeat: no-repeat;
    width: 50%;
    height: 600px;
}

.learntobrew_content{
    width: 50%;
}

.learntobrew-img{
    display: block;
    width: 50%;
    height: 600px;
    background-image: url("../img/home_howtobrew.png");
    background-size: cover;
    background-position: center 0;
    background-repeat: no-repeat;
}

.learntobrew_content{
    width: 50%;
    text-align: left;
    margin: auto;
}

.learntobrew_content h2{
    font-size: 32px;
    margin-bottom: 55px;
    font-weight: bold;
}


.learntobrew_content p{
    margin-bottom: 55px;
    padding: 0 70px;
    line-height: 2.5em;
}

.learntobrew_content a{
    display: block;
    text-align: center;
    background-color: #be9c79;
    text-decoration: none;
    color: white;
    width: 190px;
    line-height: 50px;
    margin: 0 auto;
    font-size: 14px;
    font-weight: bold;
}

iframe{
    display: block;
    width: 100%;
}

.hamBar{
    display: block;
}

@media screen and (max-width: 415px){

    h1{
        font-size: 30px;
    }

    .top-slogan{
        top: 200px;
        left: 25px;
        text-shadow: 2px 3px 5px #4d4d4d;
    }

    .swiper .swiper-button-next::after{
        display: none;
    }

    .swiper .swiper-button-prev::after{
        display: none;
    }

    .visitourcafe-img{
        height: 40vh;
        display: none;
    }

    .visitourcafe_content{
        height: 40vh;
        width: 100%;
        background-color: rgba(0, 0, 0, .6);
        background-blend-mode: multiply;
        background-image: url("../img/home_visitourcoffee.png");
        background-size: cover;
        background-position: center center;
    }

    .visitourcafe_content h2{
        font-size: 18px;
        margin: 40px auto 10px;
        font-weight: bold;
        color: white;
    }

    .visitourcafe_content p{
        font-size: 12px;
        padding: 10px;
        margin: auto;
        color: white;
        margin-bottom: 10px;
    }

    .visitourcafe_content a{
        font-size: 12px;
        width: 150px;
        line-height: 30px;
    }

    .buythebean_content{
        height: 40vh;
        width: 100%;
        background-color: rgba(0, 0, 0, .6);
        background-blend-mode: multiply;
        background-image: url("../img/home_buycoffeebean.png");
        background-size: cover;
        background-position: center center;
    }


    .buythebean_content h2{
        font-size: 18px;
        margin: 40px auto 10px;
        font-weight: bold;
        color: white;
    }

    .buythebean_content p{
        font-size: 12px;
        padding: 10px;
        margin: auto;
        color: white;
        margin-bottom: 10px;
    }

    .buythebean-img{
        height: 40vh;
        display: none;
    }

    .buythebean_content a{
        font-size: 12px;
        width: 150px;
        line-height: 30px;
    }

    .learntobrew-img{
        height: 40vh;
        display: none;
    }

    .learntobrew_content{
        height: 40vh;
        width: 100%;
        background-color: rgba(0, 0, 0, .6);
        background-blend-mode: multiply;
        background-image: url("../img/howtobrew_top_bg.png");
        background-size: cover;
        background-position: center center;
    }

    
    .learntobrew_content h2{
        font-size: 18px;
        margin: 40px auto 10px;
        font-weight: bold;
        color: white;
    }

    .learntobrew_content p{
        font-size: 12px;
        padding: 10px;
        margin: auto;
        color: white;
        margin-bottom: 10px;
    }

    .learntobrew_content a{
        font-size: 12px;
        width: 150px;
        line-height: 30px;
    }



}
