@import url("reset.css");

.member_forgotpassword_top_bg{
    display: flex;
    height: 400px;
    background-image: url("../img/member_top_bg.jpg");
    background-size: cover;
    background-position: 0 center;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 80px;
    color: white;
}

.member_forgotpassword_main{
    width: 1200px;
    margin: 50px auto 100px;
}

.member_forgotpassword_main h2{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}

.member_forgotpassword_main input{
    display: block;
    margin: 0 auto;
    width: 500px;
    height: 50px;
}

.emailaddress, .login{
    width: 500px;
    margin: 0 auto 30px;
}

.emailaddress input{
    width: 500px;
    margin: 0 auto 30px;
}

.login input{
    width: 508px;
    height: 60px;
    background-color: #be9c79;
    color: white;
    border: none;
    margin-top: 30px;
    padding: 0;
}

@media screen and (max-width: 415px) {
    h1{
        font-size: 26px;
    }

    .member_forgotpassword_main h2{
        font-size: 20px;
    }

    .member_forgotpassword_top_bg{
        height: 20vh;
    }

    .member_forgotpassword_main{
        max-width: 414px;
    }

    .emailaddress, .login{
        max-width: 300px;
        font-size: 12px;
    }

    .emailaddress input{
        max-width: 300px;
    }

    .login input{
        max-width: 300px;
    }
}